In [110]:
from __future__ import annotations # To prevent Subscript for class "list" will generate runtime exception; enclose type annotation in quotes
import seaborn as sns
from sklearn.datasets import make_blobs
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
import numpy as np
import pandas as pd
import random
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random
import math
import scipy
from sklearn.preprocessing import MinMaxScaler, LabelEncoder
from Kmeans import *
%matplotlib inline

In [111]:
df = pd.read_csv('ml-1m/users.dat', delimiter='::', names=['UserID','Gender','Age','Occupation','Zip-code'])
df

/tmp/ipykernel_14816/199005528.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv('ml-1m/users.dat', delimiter='::', names=['UserID','Gender','Age','Occupation','Zip-code'])

      UserID Gender  Age  Occupation Zip-code
0          1      F    1          10    48067
1          2      M   56          16    70072
2          3      M   25          15    55117
3          4      M   45           7    02460
4          5      M   25          20    55455
...      ...    ...  ...         ...      ...
6035    6036      F   25          15    32603
6036    6037      F   45           1    76006
6037    6038      F   56           1    14706
6038    6039      F   45           0    01060
6039    6040      M   25           6    11106

[6040 rows x 5 columns]

In [112]:
le=LabelEncoder()
df['Gender']=le.fit_transform(df['Gender'])
df

      UserID  Gender  Age  Occupation Zip-code
0          1       0    1          10    48067
1          2       1   56          16    70072
2          3       1   25          15    55117
3          4       1   45           7    02460
4          5       1   25          20    55455
...      ...     ...  ...         ...      ...
6035    6036       0   25          15    32603
6036    6037       0   45           1    76006
6037    6038       0   56           1    14706
6038    6039       0   45           0    01060
6039    6040       1   25           6    11106

[6040 rows x 5 columns]

In [113]:
uid=df['UserID']
df.drop(['UserID'], axis=1, inplace=True)
df

      Gender  Age  Occupation Zip-code
0          0    1          10    48067
1          1   56          16    70072
2          1   25          15    55117
3          1   45           7    02460
4          1   25          20    55455
...      ...  ...         ...      ...
6035       0   25          15    32603
6036       0   45           1    76006
6037       0   56           1    14706
6038       0   45           0    01060
6039       1   25           6    11106

[6040 rows x 4 columns]

In [ ]:
uid

In [114]:
# random_state = 42
# df=pd.read_excel('Course Recommendation System.xlsx')
# df.fillna(df.mean(skipna=True),inplace=True)
# df=df.drop(['ID','Start time','Completion time','Email','Name','Name(not mandatory)\n' ], axis=1)
# df['mean'] = df.mean(axis=0,skipna=True,numeric_only=True)
# df = df.apply(lambda x : x.fillna(x.mean()),axis=0)
# df.drop(axis="columns",labels=["mean"],inplace=True)
# df

In [115]:
df['Zip-code'] = df['Zip-code'].apply(lambda x: int(x.split('-')[0]) if type(x)==str else x)
df['Zip-code'] = df['Zip-code'].apply(lambda x: int(str(x)[0]))

In [116]:
df['Zip-code'] = df['Zip-code'].astype('int64')

In [117]:
df.describe()

            Gender          Age   Occupation     Zip-code
count  6040.000000  6040.000000  6040.000000  6040.000000
mean      0.717053    30.639238     8.146854     5.319371
std       0.450468    12.895962     6.329511     2.860588
min       0.000000     1.000000     0.000000     1.000000
25%       0.000000    25.000000     3.000000     3.000000
50%       1.000000    25.000000     7.000000     5.000000
75%       1.000000    35.000000    14.000000     8.000000
max       1.000000    56.000000    20.000000     9.000000

In [118]:
df = pd.get_dummies(
    data=df, # dataframe to one hot encode
    columns=["Zip-code"])
df = pd.get_dummies(
    data=df, # dataframe to one hot encode
    columns=["Occupation"])

In [119]:
for i in df.columns[2:]:
	lst=[]
	for j in df[i]:
		if(j):
			lst.append(1)
		else:
			lst.append(0)
	df[i]=lst

df

,Gender,Age,Zip-code_1,Zip-code_2,Zip-code_3,Zip-code_4,Zip-code_5,Zip-code_6,Zip-code_7,Zip-code_8,...,Occupation_11,Occupation_12,Occupation_13,Occupation_14,Occupation_15,Occupation_16,Occupation_17,Occupation_18,Occupation_19,Occupation_20
0,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,56,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
2,1,25,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,1,45,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,25,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6035,0,25,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
6036,0,45,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
6037,0,56,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6038,0,45,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6039,1,25,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [120]:
df['Age'] = df['Age'].apply(lambda x: x/56)

In [121]:
df

,Gender,Age,Zip-code_1,Zip-code_2,Zip-code_3,Zip-code_4,Zip-code_5,Zip-code_6,Zip-code_7,Zip-code_8,...,Occupation_11,Occupation_12,Occupation_13,Occupation_14,Occupation_15,Occupation_16,Occupation_17,Occupation_18,Occupation_19,Occupation_20
0,0,0.017857,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1.000000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
2,1,0.446429,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,1,0.803571,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0.446429,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6035,0,0.446429,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
6036,0,0.803571,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
6037,0,1.000000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6038,0,0.803571,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6039,1,0.446429,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [122]:
from SVD import *
u,s,sigma,V_trans = ReducedSVD(df.to_numpy(),0,0)

In [123]:
s

array([83.42074646, 75.73894553, 35.76466701, 28.731032  , 27.27503815,
       26.77929638, 26.2032695 , 25.93788695, 25.51805703, 24.50011382,
       23.3434528 , 22.35668573, 21.82026588, 21.12259209, 20.46827378,
       19.58644677, 18.60637006, 17.09135137, 16.51033378, 15.90905414,
       15.36491732, 14.10735212, 13.53402369, 12.72945411, 11.93886071,
       11.43255974, 10.68802748,  9.57522299,  8.57953047,  8.4831374 ,
        6.91775057,  4.16635036])

In [124]:
u,s,sigma,V_trans = ReducedSVD(df.to_numpy(),0,4)

In [125]:
s

array([83.42074646, 59.81358326, 35.76466701, 28.73103197, 27.27479834,
       26.77962895, 26.2036559 , 25.93099707, 25.52456916, 24.50011258,
       23.34345468, 22.35594117, 21.82103067, 21.12264422, 20.46821713,
       19.58644679, 18.60637006, 17.09132172, 16.51036436, 15.90915062,
       15.36481754, 14.10735203, 13.53402379, 12.72945411, 11.93886079,
       11.43255966, 10.68802748,  9.57522299])

In [126]:
num_cluster = 6

In [127]:
df = pd.DataFrame(u@sigma@V_trans,columns=df.columns)

In [128]:
df

,Gender,Age,Zip-code_1,Zip-code_2,Zip-code_3,Zip-code_4,Zip-code_5,Zip-code_6,Zip-code_7,Zip-code_8,...,Occupation_11,Occupation_12,Occupation_13,Occupation_14,Occupation_15,Occupation_16,Occupation_17,Occupation_18,Occupation_19,Occupation_20
0,0.137806,0.091858,0.040706,-0.031499,0.018248,1.014236,-0.025016,-0.032794,0.042990,0.017333,...,-0.001511,-0.045954,-0.009516,-0.028942,-0.014771,-0.012917,0.087703,-0.027949,-0.001177,0.016063
1,1.607801,1.243199,0.243228,-0.089967,0.145463,0.124841,-0.059856,-0.093593,1.253141,0.139592,...,0.020138,-0.194926,0.026511,-0.117912,-0.047301,0.971256,0.420175,0.033178,0.084248,0.087576
2,1.342835,0.644838,0.102901,-0.078615,0.047703,0.038394,0.936658,-0.081937,0.109300,0.044728,...,-0.016098,-0.120388,-0.044883,-0.079137,0.953611,-0.041329,0.215439,0.041274,0.057148,0.033815
3,1.278977,0.900161,0.121079,0.966212,0.076312,0.066267,-0.019585,-0.035093,0.125478,0.073390,...,0.015283,-0.087349,0.025979,-0.051518,-0.017476,-0.007455,0.198278,0.021722,0.039574,0.043682
4,1.419559,0.666215,0.138092,-0.086214,0.070503,0.058234,0.933143,-0.089825,0.145582,0.066817,...,-0.008887,-0.143090,-0.031833,-0.091744,-0.048938,-0.040835,0.271661,0.034382,0.062833,1.047480
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6035,0.116847,0.568078,0.000347,-0.054271,0.981177,-0.020013,-0.050353,-0.056610,0.002994,-0.019204,...,-0.027014,-0.048607,-0.064800,-0.036217,0.969088,-0.034757,0.053260,-0.015244,0.000185,-0.001116
6036,0.328184,0.951613,0.118839,-0.058261,0.065866,0.055273,-0.042347,-0.060598,1.124227,0.062926,...,0.005214,-0.106941,0.000109,-0.065773,-0.029349,-0.021344,0.220218,-0.004819,0.024012,0.043817
6037,0.349767,1.126507,1.145738,-0.046830,0.089409,0.076964,-0.029061,-0.048642,0.151156,0.085998,...,0.018625,-0.109237,0.029534,-0.064336,-0.022029,-0.010463,0.246076,-0.000759,0.031114,0.054244
6038,0.292839,0.917185,1.116762,-0.043337,0.069542,0.059388,-0.028637,-0.045023,0.121344,0.066772,...,0.012698,-0.092419,0.017854,-0.055046,-0.020445,-0.011604,0.203082,-0.006592,0.020018,0.043694
6039,1.499147,0.725713,1.154148,-0.110681,0.073621,0.059783,-0.088074,-0.115399,0.163307,0.069527,...,-0.018372,-0.173255,-0.054836,-0.112789,-0.063826,-0.055832,0.316796,0.034668,0.085307,0.051962

In [8]:
def cluster_to_matrix(X_train,y_train,num_cluster):
    k=Kmeans(K=num_cluster,iter=150,p=2,random_state=random_state)
    y_pred,_=k.predict(np.array(X_train),choice=0)
    k.centroids=np.array(k.centroids)
    empty_cluster = []
    for idx,i in enumerate(k.clusters):
        if len(i)==0:
            empty_cluster.append(idx)
    X_train2 = pd.concat([X_train,y_train,pd.DataFrame(y_pred,columns=["label"],dtype='int')],axis="columns")
    df_cluster_rep = X_train2.groupby(['label'], as_index=False).mean()
    df_cluster_rep.drop(labels="label",axis="columns",inplace=True)
    matrix = df_cluster_rep.to_numpy()
    final_matrix = []
    j = 0
    for i in range(num_cluster):
        if i in empty_cluster:
            final_matrix.append(np.zeros(25))
        else:
            final_matrix.append(matrix[j])
            j+=1

    return np.array(final_matrix),k
    return matrix,k

In [9]:
X = df[[df.columns[0],df.columns[1],df.columns[2],df.columns[3],df.columns[4]]]
y = df.drop(labels=["Data Structures and Algorithms","Computer Architecture\n","Discrete Mathematics\n","Economics","Programming-2"],axis="columns")

In [10]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.05, shuffle=True,random_state=random_state)

In [11]:
matrix,kmeans_model = cluster_to_matrix(X_train,y_train,num_cluster)

In [12]:
matrix.shape

(6, 25)

In [13]:
def predict(datapoint,kmeans,matrix_clean):
    '''
        @input: Takes in a datapoint, kmeans object, and information matrix
        @output: Returns: rating sorted with index for column name mapping
    '''
    y_pred = kmeans.predictPoint(datapoint)
    inferred_full = matrix_clean[y_pred]
    inferred = inferred_full[5:]
    sorted_ratings = []
    for idx,element in enumerate(inferred):
        sorted_ratings.append([element,idx+5])
    sorted_ratings.sort()
    sorted_ratings.reverse()
    return sorted_ratings

In [14]:
X_test.to_numpy()[0][:5]
sorted_ratings = predict(X_test.to_numpy()[0][:5],kmeans_model,matrix)
s="Top 5 PREDICTED recommended electives are:\n"
for i in range(5):
    s+=df.columns[sorted_ratings[i][1]]+"\n"
print(s)

Top 5 PREDICTED recommended electives are:
Machine Learning

Mathematics For Machine Learning

Software Production Engineering

Natural Language Processing

Visual Recognition

In [15]:
inferred = y_test.to_numpy()[0]
for idx,element in enumerate(inferred):
    sorted_ratings.append([element,idx+5])
sorted_ratings.sort()
sorted_ratings.reverse()
s="Top 5 ACTUAL recommended electives are:\n"
for i in range(5):
    s+=df.columns[sorted_ratings[i][1]]+"\n"
print(s)

Top 5 ACTUAL recommended electives are:
Computer Graphics

Data Visualization

Machine Learning

Mathematics For Machine Learning

Software Production Engineering

In [16]:
def predict_for_dataset(X_test,kmeans_instance,matrix_clean):
    ''' Runs out inference and return predicted ratings of subjects
        @input: X_test,kmeans object, clean_matrix after SVD
    '''
    X_test = X_test.to_numpy()
    y_pred = []
    for i in range(X_test.shape[0]):
        datapoint =X_test[i][:5]
        y_pred.append(predict(datapoint,kmeans_instance,matrix_clean))
    return np.array(y_pred)

In [17]:
y_pred = predict_for_dataset(X_test,kmeans_model,matrix)
y_pred.shape

(9, 20, 2)

In [18]:
def accuracy(y_pred,y_test):
    ''' Finds out % common subject in top 5 rated subjects (predicted and actual)
        @input: predicted values and test dataset values
        @output: accuracy value
    '''
    y_test = y_test.to_numpy()
    sorted_ratings_actual = []
    for i in range(y_test.shape[0]):
        inferred = y_test[i]
        t = []
        for idx,element in enumerate(inferred):
            t.append([element,idx+5])
        t.sort()
        t.reverse()
        sorted_ratings_actual.append(np.array(t))
    sorted_ratings_actual = np.array(sorted_ratings_actual)

    total = 0
    correct = 0


    for i in range(len(sorted_ratings_actual)):
        total+=5
        temp = sorted_ratings_actual[i][:5]
        # if i ==1:
        #     print(temp)
        for j in range(5):
            for k in range(len(temp)):
                if(y_pred[i][j][1]==temp[k][1]):correct+=1

    perecent_correct_for_datapoint = []

    for i in range(len(sorted_ratings_actual)):
        per_correct = 0
        temp = sorted_ratings_actual[i][:5]
        # if i ==1:
        #     print(temp)
        for j in range(5):
            for k in range(len(temp)):
                if(y_pred[i][j][1]==temp[k][1]):per_correct+=1
        perecent_correct_for_datapoint.append(per_correct/5)
    # print("Total Entries received: ", len(sorted_ratings_actual)*5," Total Correct: ",correct)
    return 100*(correct/total),perecent_correct_for_datapoint,sorted_ratings_actual

In [19]:
overall_val,per_point_val,y_sorted_actual = accuracy(y_pred,y_test)

In [20]:
overall_val

53.333333333333336

In [21]:
per_point_val

[0.2, 0.6, 0.2, 0.6, 0.8, 0.6, 0.6, 0.6, 0.6]

#### Grid Search

In [22]:
from SVD import *
from sklearn.model_selection import train_test_split
accuracy_list_gs = []
def grid_search(df):
    for i in range(4,9):
        for j in range(0,i):
            # print(i,j)
            u,s,sigma,V_trans = ReducedSVD(df.to_numpy(),0,j)
            df = pd.DataFrame(u@sigma@V_trans,columns=df.columns)
            X = df[[df.columns[0],df.columns[1],df.columns[2],df.columns[3],df.columns[4]]]
            y = df.drop(labels=["Data Structures and Algorithms","Computer Architecture\n","Discrete Mathematics\n","Economics","Programming-2"],axis="columns")
            X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.05, shuffle=True,random_state=random_state)
            matrix,kmeans_model = cluster_to_matrix(X_train,y_train,i)
            if(matrix.shape[0]<i):
                break
            y_pred = predict_for_dataset(X_train,kmeans_model,matrix)
            overall_val,per_point_val,y_sorted_actual = accuracy(y_pred,y_train)
            accuracy_list_gs.append([overall_val,('Number of cluster',i),('SV removed',j)])
    accuracy_list_gs.sort(reverse=True)
grid_search(df)

In [23]:
accuracy_list_gs

[[100.0, ('Number of cluster', 8), ('SV removed', 7)],
 [100.0, ('Number of cluster', 8), ('SV removed', 6)],
 [100.0, ('Number of cluster', 8), ('SV removed', 5)],
 [100.0, ('Number of cluster', 8), ('SV removed', 4)],
 [100.0, ('Number of cluster', 8), ('SV removed', 3)],
 [100.0, ('Number of cluster', 8), ('SV removed', 2)],
 [100.0, ('Number of cluster', 8), ('SV removed', 1)],
 [100.0, ('Number of cluster', 8), ('SV removed', 0)],
 [100.0, ('Number of cluster', 7), ('SV removed', 6)],
 [100.0, ('Number of cluster', 7), ('SV removed', 5)],
 [100.0, ('Number of cluster', 7), ('SV removed', 4)],
 [100.0, ('Number of cluster', 7), ('SV removed', 3)],
 [100.0, ('Number of cluster', 7), ('SV removed', 2)],
 [100.0, ('Number of cluster', 7), ('SV removed', 1)],
 [100.0, ('Number of cluster', 7), ('SV removed', 0)],
 [100.0, ('Number of cluster', 6), ('SV removed', 5)],
 [100.0, ('Number of cluster', 6), ('SV removed', 4)],
 [100.0, ('Number of cluster', 6), ('SV removed', 3)],
 [100.0, ('Number of cluster', 6), ('SV removed', 2)],
 [100.0, ('Number of cluster', 6), ('SV removed', 1)],
 [100.0, ('Number of cluster', 6), ('SV removed', 0)],
 [100.0, ('Number of cluster', 5), ('SV removed', 4)],
 [99.86928104575163, ('Number of cluster', 5), ('SV removed', 1)],
 [99.47712418300654, ('Number of cluster', 5), ('SV removed', 0)],
 [97.6470588235294, ('Number of cluster', 5), ('SV removed', 3)],
 [95.03267973856208, ('Number of cluster', 5), ('SV removed', 2)],
 [86.40522875816994, ('Number of cluster', 4), ('SV removed', 3)],
 [69.93464052287581, ('Number of cluster', 4), ('SV removed', 2)],
 [69.93464052287581, ('Number of cluster', 4), ('SV removed', 1)],
 [67.84313725490196, ('Number of cluster', 4), ('SV removed', 0)]]

In [24]:
k = 6
to_remove = 1